<h3 class='display-5'>About</h3>

<% if session[:username] %>
    <p class='h6'>Thanks for being a member, <%= session[:username] %>!</p>
    <%= Location.find_by_id(Traveler.find_by_id(session[:id]).trips.last.location_id).name %><br><br>
<% else %>
    <p class='h6'> Please login or signup<p>
<% end %>

<%= link_to 'Home', root_path %>