<p class='display-6'>Hello, <%= session[:username] %>!</p>
<p class='h6'>You have taken <%= @traveler.trips_taken %> of <%= @traveler.trips.count %>.</p>
<p class='h6'>All of your trips are projected to cost <%= @traveler.trips_total %>.</p>