<p>Hello, <%= session[:username] %>!</p>
<p>You have taken <%= @traveler.trips_taken %> of <%= @traveler.trips.count %>.</p>
<p>All of your trips are projected to cost $<%= @traveler.trips_total %>.</p>