<h3 class='display-6'><u>Countries</u></h3>
<p>The following are the current countries a part of our travel packages:</p>

<ol class="list-group list-group-numbered">
  <% @countries.order(:name).each do |country|%>
    <li class="list-group-item"><%= country.name %></li>
  <% end %>
</ol>
<br>
<%# <ol> %>
    <%# <% @countries.order(:name).each do |country|%>
        <%# <li><%= country.name %></li>
    <%# <% end %>
<%# </ol> %>

<p>More countries are coming soon!</p>