<%# <h3><u>Locations</u></h3> %>

<table style='border-collapse:separate;border-spacing:20px 10px;'>
    <tr>
        <th><h3><u>Locations</u></h3></th>
        <th><h3><u>Options</u></h3></th>
    </tr>
    <% @locations.order(:city).each do |location| %>
        <tr>
            <td><%= link_to "#{location.city}, #{location.country_name}", trips_path(trip: {location_id: location.id, traveler_id: session[:id]}), method: :post %></td>
            <td><%=link_to 'Edit', edit_location_path(location) %> | <%=link_to 'Remove', location_path(location), method: :delete %></td>
        </tr>
    <% end %>
</table>
<br>
<%= link_to 'Add a Location', new_location_path %>