<% if session[:username] %>
    <nav style='display: inline-block'>
        <%= link_to 'Locations', locations_path %>
        <%= link_to 'Countries', countries_path %>
        <%= link_to 'Trips', trips_path %>
        <%= link_to 'Your Profile', traveler_path(session[:id]) %>
    </nav>
    <br>
<% end %>